<head>
	<title>Kevin's Blog | Let's Make It Personal</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<!-- <script src="js/skel-panels.min.js"></script>  -->
	<script src="/assets/js/init.js"></script>
	<noscript>
		<!-- <link rel="stylesheet" href="css/skel-noscript.css" /> -->
		<link rel="stylesheet" href="/assets/css/style.css" />
	</noscript>
</head>

<div id="header">
	<div class="container">
		<!-- Logo -->
		<div id="logo">
			<h1><a href="/">Kevin's Blog</a> </h1>
			<span>Let's Make It Personal</span>
		</div>
		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="active"><a href="/resume">Resume</a></li>
				<li><a href="/tutorials">Tutorials</a></li>
				<li><a href="/job-history">Job History</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</div>
