<div class="3u">
	<section id="sidebard2">
		<header>
			<h2>Articles</h2>
		</header>
		<ul class="style1">
			<li><a href="#">N/A</a></li>
		</ul>
		<!-- <a href="#" class="button">Full Article</a> -->
	</section>
</div>
